html, body {
	height: 100%;
}

body {
	background: #EDEDED;
	font-family: 'Arial', sans-serif;
	font-size: 13px;
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
}

/** Container **/
.container {
	margin: 0 auto;
	width: 90%;
}

.clearfix {
	clear: both;
}

/** Header **/
#header-wrapper {
	background: #3B3B3B;
	overflow: hidden;
}

#header {
	height: 150px;
	overflow: hidden;
}

/** Logo **/
#logo {
	text-align: center;
}

#logo h1 {
	display: inline-block;
}

#logo h1 a {
	color: #FFFFFF;
	display: block;
	font-family: 'Kavoon', cursive;
	font-size: 40px;
	line-height: 150px;
	text-decoration: none;
}

#logo i {
	color: #FFFFFF;
	font-size: 80px;
	padding: 0 50px;
}

/** Menu **/
#menu {
	float: right;
}

#menu ul {
	float: right;
	line-height: normal;
	list-style: none;
	margin: 0;
	padding: 60px 0 0 0;
}

#menu li {
	float: left;
	margin-left: 10px;
}

#menu a {
	color: #FFFFFF;
	display: block;
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 2px;
	padding: 10px 20px;
	text-decoration: none;
	text-transform: uppercase;
}

#menu .active a {
	color: #FFFFFF;
	background: #00D9A9;
	border-radius: 5px;
}

#menu .active a:hover {
	background-color: #00A987;
}

#menu .active a:active {
	background-color: #20E1B6;
}

#menu a:hover {
	text-decoration: none;
}

/** Content **/
#featured-wrapper {
	background-image: url('../images/geometry.png');
	border-top: 1px solid #E7E7E7;
	overflow: hidden;
	padding: 50px 0;
	text-align: center;
}

#featured header {
	color: #333333;
	display: block;
	font-size: 30px;
	font-weight: 400;
	letter-spacing: -1px;
	margin-bottom: 10px;
}

/** Button Styling **/
.button {
	-moz-transition: background-color .25s ease-in-out;
	-ms-transition: background-color .25s ease-in-out;
	-o-transition: background-color .25s ease-in-out;
	-webkit-transition: background-color .25s ease-in-out;
	background: #20E1B6;
	border-radius: 5px;
	box-shadow: 0 0 0 5px rgba(255, 255, 255, 1);
	color: #FFFFFF;
	display: inline-block;
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 2px;
	margin: 0 10px;
	padding: 10px 30px;
	text-decoration: none;
	text-transform: uppercase;
	transition: background-color .25s ease-in-out;
}

.button:hover {
	background-color: #00AD87;
}

.button:active {
	background-color: #20E1B6;
}

.button-alt {
	background: #20E1B6;
}

.button-alt:hover {
	background-color: #00AD87;
}

.button-alt:active {
	background-color: #FC3F68;
}

.button-small {
	box-shadow: none;
	color: #FFFFFF;
	font-size: 6px;
	margin: 5px 0;
}

/** Portfolio **/
#content header {
	color: #333333;
	display: block;
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 1px;
	padding-top: 5px;
}

.box-style {
	display: inline-block;
	overflow: hidden;
	padding: 30px 10px;	
	vertical-align: top;
	width: 45%;
}

.box-style img {
	background: #FFFFFF;
	float: left;
	margin-right: 30px;
	opacity: 0.8;
	padding: 5px;
}

.box-style a:hover img {
	opacity: 0.9;
}

.box-style a {
	color: #000000;
}

.box-style img {
	width: 140px;
}

.box-style ul {
	list-style-type: none;
}

/** Page Content **/

/** Third Section **/
#banner-wrapper {
	background: #20E1B6;
	color: #FFFFFF;
	padding: 12px 10px 1px 0;
	text-align: center;
}

#banner p {
	font-size: 40px;
	font-weight: 300;
	letter-spacing: -1px;
}

#banner strong {
	font-weight: 400;
}

/** Footer **/
#footer-wrapper {
	background: #444444;
	border-bottom: 1px solid #404040;
	border-top: 1px solid #404040;
	padding: 35px 0;
}

#footer {
	color: #B1B1B1;
	overflow: hidden;
}

#footer header {
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 2px;
}

#footer #fbox {
	float: left;
	width: 100%;
}

#footer a {
	color: #D0D0D0;
}

#footer .button-small {
	color: #FFFFFF;
}

#footer ul {
	text-align: center;
	list-style-type: none;
}

#footer li {
	display: inline-block;
	font-size: 30px;
	padding: 0 5px;
}

#footer li > a {
	color: #FFFFFF;
}

#footer li > a:hover {
	color: #20E1B6;
}

#copyright {
	color: #606060;
	overflow: hidden;
	padding: 3px 0 3px 0;
	text-align: center;
}

#copyright a {
	color: #818181;
}

/** Slider CSS **/
.looper {
	background: #00D9A9;
	border-radius: 5px;
	color: #000000;
	font-family: 'Archivo Narrow', sans-serif;
	margin: auto;
	text-transform: uppercase;
	width: 50%;
}

.looper .item {
	margin: 10px 10px;
}

.looper .item > .description {
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 2px;	
	overflow: hidden;
}

.looper .item > .time {
	font-size: 12px;
	font-style: italic;
	padding-top: 5px;
}

.looper a {
	color: #000000;
	text-decoration: none;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

@media (max-width: 768px) {
	.box-style {
		width: 100%;
	}

	#logo i.fa {
		display: none;
	}

	.looper {
		width: 90%;
	}
}