.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

analyticstracking.php

public/

.terraform
node_modules/
package-lock.json
package.json
resume.html
